data.txt
main.cpp
main.exe
.vscode/c_cpp_properties.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/launch.json
.vscode/settings.json
.vscode/targets.log
.vscode/tasks.json
main.cpp
data2.txt
main.cpp
main.cpp
Signal.cpp
Gem.cpp
